body{
    background-color: rgb(8, 8, 32);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1em;
}

header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
    align-items: center;
    border-bottom: 1px solid #FFF;
    
}
 
.real-task{
    background-color: greenyellow;
}

.hour{
    font-weight: 900;
}
header a{
    text-decoration: none;
    text-transform: none;
    color: white;
    padding: 2em;
    opacity: .5; 
    cursor: pointer;
}

header a:hover, p:hover{
    opacity: 1;
}



/**/

main{
display: flex;
flex-direction: column;
padding: 2em;
}

main section{
display: flex;
justify-content: space-between;
padding: 2em;
align-items: center;
text-align: center;
}

main a{
    color: blue;
    text-decoration: none;
    margin-top: 1em;  
}

main div{
justify-content: space-between;
padding: 1em;
background-color: white;
width: 30em;
height: auto;
color: black;
opacity: .9;
border-radius: 1em;
align-items: center;
text-align: center;
}

main div:hover{
    opacity: 1;
}

main img{
height: 20em;
}

footer{
    text-align: center;
}

/* Mobile */
@media screen and (max-width: 768px){
    body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-weight: bold;

    }

    header{
        flex-direction: column;
        border-bottom: 0px;
    }

    section{
        flex-direction: column;
        gap: 50px;
    }

    nav{
        display: flex;
        flex-direction: column;
        }

    .links{
        background-color: red;
        width: 15em;
        border-radius: 1em ;
        margin-bottom: 1em ;
        height: 1em;
    }
    div{
        max-width: 17em;
    }

    img{
        max-width: 15em;
        max-height: 15em;
    }

    footer{
        background-color: rgb(255, 0, 0);
    }
}
  /*  body{
        display: flex;
        flex-direction: column;
        font-size:large;
        align-items: flex-start;
        
    }    
    header{
        color: white;
        display: flex;
        flex-direction: column;
  
    }

    header nav a{
        display: flex;
        background-color: red;
        color: rgb(255, 255, 255);
        text-align: center;
    }

    
    main{
     
    }

    main section{
        flex-direction: column;
        align-items: flex-start;
    }

    main section div a{
       color: yellow;
       text-decoration: underline;

    }

    main div{
        background-color:rgb(30, 30, 114);

    }

    main div img{
        width: 20em;
        height: 17em;        
        padding: 0;
        margin-top: 1em;
    }

    main div p{
        color: white;
        padding: 1em;
    }

    footer{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    
    }
*/